<h1>hola mundo</h1>

<%= link_to 'Crear Nuevo Memo', todos_new_path%>


<ul class="list-group">
  <% @todos.each do |item|%>
  <li class="list-group-item"><%= item.description%>
  <%= link_to 'Show',todo_path(item.id),class:'btn btn-success'%>
  <%= link_to 'Edit',edit_todo_path(item.id),class:'btn btn-warning'%>
  </li>
  <% end %>
</ul>
