<div class="row">
	<div class="col col-md-6">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Incomplete</th>
    </tr>
  </thead>
  <tbody>
  	<%@incomplete.each do |item|%>
    <tr>
      <th class="list-group-item list-group-item-danger"><%= item.description%></th>
      <%end%>
      </tr>
    </tbody>
</table>
</div>
<div class="col col-md-6">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
  	<%@completed.each do |item|%>
    <tr>
      <th class="list-group-item list-group-item-success"><%= item.description%></th>
      <%end%>
      </tr>
    </tbody>
</table>
</div>
</div>
</div>
